  <div>
    <section class="technologies">
      <h2>Select technologies:</h2>

      <p *ngFor="let technology of technologies">
      	<mat-checkbox formControlName="technology" color="primary"
      	[checked]="technology.checked" (change)="addTechnology($event.checked, technology.name)">{{technology.name}}</mat-checkbox>
      </p>
    </section>
    <section class="technologies">
      <h2>Select level:</h2> 
	      <mat-radio-group
  class="example-radio-group">
  <mat-radio-button class="example-radio-button" *ngFor="let level of levels" [value]="level"
  color="primary" (change)="addLevel(level.name)">
    {{level.name}}
  </mat-radio-button>
</mat-radio-group>
  	  <!-- </p> -->
    </section>
    <button mat-raised-button (click)="requestQuestions()">Search</button>
  </div>
