  <div>
  	<form [formGroup]="options" (ngSubmit)="onSubmit()">
    <section class="technologies">
      <h2>Select technologies:</h2>
      <p>
      	<mat-checkbox [formControl]="javaControl" color="primary">Java</mat-checkbox>
      </p>
      <p>
      	<mat-checkbox [formControl]="sqlControl" color="primary">SQL</mat-checkbox>
      </p>
      <p>
      	<mat-checkbox [formControl]="jsControl" color="primary">JS</mat-checkbox>
      </p>
      <p>
      	<mat-checkbox [formControl]="springControl" color="primary">Spring</mat-checkbox>
      </p>
    </section>
    <section class="technologies">
      <h2>Select level:</h2> 
	      	<mat-radio-group [formControl]="levelControl" class="example-radio-group">
  				<mat-radio-button class="example-radio-button" color="primary" value="junior">Junior</mat-radio-button>
  				<mat-radio-button class="example-radio-button" color="primary" value="middle">Middle</mat-radio-button>
  				<mat-radio-button class="example-radio-button" color="primary" value="senior">Senior</mat-radio-button>
			</mat-radio-group>
    </section>
    <button mat-raised-button type="submit">Search</button>
	</form>
  </div>
